*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color:mintcream;
}

/*---- Container ----*/

.container{
    text-align:center;
}

#logo-1{
    width:13.25rem;
    height:6.5625rem;
    text-align: center;
    margin-top:1rem;
    margin-right:1.875rem;
}

.head-1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
    font-size:4.375rem;
    margin: 0 1.5rem;
}

.head-2{
    font-family: 'Roboto', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    margin-top:1rem;
}

.input-container{
    margin-top:2rem;
}

.input-1{
    padding:0.8rem;
    width:20rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border:1px solid lightgrey;
    border-radius:12px;
}

.btn{
    margin-left:10px;
    padding:0.8rem;
    width: 10rem;
    font-size:1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#000;
    border:1px solid #000;
    border-radius:9px;
}

.btn a{
    text-decoration:none;
    color:white;
}

.para{
    margin-top:2rem;
    font-weight:300;
}

.shopify-svg{
    margin-top:3rem;
}

.head-3{
    font-weight: 500;
}

.para1{
    margin-top:1rem;
    color:rgb(161, 161, 161);
    font-size:1.1rem;
    font-weight: 400;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icons-img{
    width:3.5rem;
    height:3.7rem;
    margin:1rem 0;
}

.container-2{
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin:1.4rem 1rem;
}

.logo-container{
    margin-top:9rem;
}

.logo-container img{
    padding:.5rem .5rem;
    width:111px;
    height:53px;
}
.line{
width:63.063rem;
margin:2rem auto;
color:lightsteelblue;
opacity: .2;
}

.container-3{
    margin:6rem auto;
}

.head-2{
    font-size:2.3em;
    font-weight:600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    margin-bottom:1.5em;
}

.head-4{
    margin:3.5em auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.foot{
    text-align:right;
    margin:1em 15em;
}

.link-1{
    text-decoration:none;
    color:rgb(31, 117, 70);
    margin:0 .8em;
}
